.about {
  padding-top: 69px;
  padding-left: 29px;
  background-image: url(../../img/bg-zigzag-line.svg);
  background-repeat: repeat-x;
  background-size: 320px 7px;
  background-position: -9px 35px;
}

.about__title {
  @include title;
  margin-bottom: 3px;
}

.about__list {
  @include list;

}

.about__item {
  padding-top: 83px;
  padding-bottom: 0;
  width: 252px;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  position: relative;
}

.about__icon{
  display: block;
  content: "";
  position: absolute;
 }

.about__icon--flower{
  background-image: url(../../img/icon-feature-flower.svg);
  background-size: cover;
  left: 7px;
  top: 28px;
  width: 34px;
  height: 40px;
}

.about__icon--money{
  background-image: url(../../img/icon-feature-money.svg);
  background-size: cover;
  left: 1px;
  top: 29px;
  width: 47px;
  height: 28px;
}

.about__icon--heart{
  background-image: url(../../img/icon-feature-heart.svg);
  background-size: cover;
  left: 8px;
  top: 35px;
  width: 33px;
  height: 28px;
}

.about__icon--ball{
  background-image: url(../../img/icon-feature-ball.svg);
  background-size: cover;
  left: 5px;
  top: 32px;
  width: 34px;
  height: 34px;
}

.about__icon--rocket{
  background-image: url(../../img/icon-feature-rocket.svg);
  background-size: cover;
  left: -4px;
  top: 33px;
  width: 54px;
  height: 23px;
}
.about__icon--gift{
  background-image: url(../../img/icon-feature-gift.svg);
  background-size: cover;
  left: 4px;
  top: 31px;
  width: 33px;
  height: 32px;
}


@media(min-width:768px) {

  .about {
    padding-top: 102px;
    padding-left: 50px;
    padding-right: 66px;
    margin-bottom: 72px;
    background-image: url(../../img/bg-zigzag-line.svg);
    background-repeat: repeat-x;
    background-size: 768px 20px;
    background-position: -19px 35px;
  }

  .about__title {
    @include title-big;
    // для ПП
    margin-left: -4px;
  }

  .about__item {
    width: 250px;
    font-size: 20px;
    line-height: 22px;
    padding-top: 102px;
    padding-bottom: 10px;
 }

  .about__list {
    column-count: 2;
  }

  .about__icon--flower{
     top: 46px;
  }

  .about__icon--money{
    left: 1px;
    top: 47px;
  }

  .about__icon--heart{
    top: 52px;
  }

  .about__icon--ball{
    left: 4px;
    top: 52px;
  }

  .about__icon--rocket{
    left: -5px;
    top: 52px;
  }
  .about__icon--gift{
    left: 4px;
    top: 49px;

  }

}

@media(min-width:1150px) {
  .about {
    padding: 58px 248px 0 222px;
    margin-bottom: 82px;
  }
  .about__title {
    @include title-bigest;
    text-align: left;
    padding-left: 4px;
  }

  .about__item{
    padding-top: 103px;
    padding-left: 4px;
    padding-bottom: 0;
    width: 250px;
    margin-bottom: 8px;
  }

}
