.add__legend {
  @include subtitle;
  margin-bottom: 22px;
  margin-left: -3px;
  position: relative;
}



.add{
  margin: 0 calc(50% - 130px);
}



.add__legend::after{
  content: '';
    width: 198px;
    height: 1px;
    background-color: $tuny;
    position: absolute;
    right: 0px;
    top: 9px;

}



.add__textarea::-webkit-input-placeholder {
  color:rgba(68, 68, 68, 0.3);
  font-family:$font-main;
  line-height: 20px;
  font-size:19px;
  padding:10px 14px;}
.add__textarea::-moz-placeholder  {
  color:rgba(68, 68, 68, 0.3);
  font-family:$font-main;
  line-height: 20px;
  font-size:19px;
  padding:10px 14px;}
.add__textarea:-moz-placeholder  {
  color:rgba(68, 68, 68, 0.3);
  font-family:$font-main;
  line-height: 20px;
  font-size:19px;
  padding:10px 14px;}
.add__textarea:-ms-input-placeholder  {
  color:rgba(68, 68, 68, 0.3);
  font-family:$font-main;
  line-height: 20px;
  font-size:19px;
  padding:10px 14px;}


.add__textarea {
  margin-bottom: 9px;
  width: 260px;
  min-height: 142px;
  resize: none;
  box-sizing: border-box;
  border: 2px solid black;
}

@media(min-width:768px){
  .add__list{
    font-size: 19px;
  }

  .add__legend{
    width: 166px;
    padding: 0;
    padding-top: 16px;
  }
  .add__legend::after{
    display: none;
  }

  .add{
    margin: 0;
    padding-top: 50px;
    padding-left: 54px;
    padding-right: 0px;
  }

  .add__textarea{
    width: 501px;
  }

}


@media(min-width:1150px){

  .add{
    padding-left: 116px;
    padding-bottom: 40px;
  }

  .add__legend{
    width: 112px;
    padding: 0;
    padding-top: 16px;
  }

  .add__textarea{
    width:700px;
  }
}
