.button {
  width: 259px;
  height: 52px;
  border: 2px solid $gray;
  background-color: #ffffff;

  color: $gray;
  font-family: "Open Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  box-sizing: border-box;

  &:hover {
    color: white;
    background-color: #444444;
  }

  &:active,
  &:focus {
    outline: none;
    color: rgba(226, 226, 226, 0.35);
    background-color: #444444;

  }
}

.button--reviews {
  border: 1px solid $light-gray;
  width: 130px;

  &:hover {
    background-color: transparent;
    opacity: 0.6;
  }

  &:active,
  &:focus {
    outline: none;
    background-color: transparent;
    opacity: 0.3;
  }
}

.button--tuny {
  background-color: $tuny;
  border: none;
  color: white;
  display: block;
  margin: 0 auto;
}

.button--cart {
  border: none;
  width: 20px;
  height: 20px;
  background-color: transparent;
  outline: none;
}

.button--catalog {
  width: 192px;
}

@media(min-width:768px) {
  .button {
    width: 292px;
  }

  .button--catalog {
    width: 584px;
  }

  .button--tuny {
    width: 350px;
  }

  .button--form {
    width: 230px;
  }

  .button--catalog {
    order: 1;
  }

  .button--reviews {
    border: none;
    width: 88px;
  }

}
