.catalog__title {
  @include title;
  text-align: center;
  font-size: 27px;
}

.catalog__list {
  @include list;
  margin-bottom: 31px;
}

.catalog__title--wrap {
  background-color: $light-gray;
  padding: 71px 40px 76px;
  margin-bottom: 30px;
}

.catalog__item {
  width: 260px;
  border: 1px solid $light-gray;
  margin: 0 auto 30px;
}

.catalog__content{
  padding: 0 28px 0 ;
}

.catalog__name {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}

.catalog__character {
  @include text;
  font-size: 13px;
  padding-bottom: 25px;

}

.catalog__price {
  font-size: 15px;
  line-height: 24px;
}

.catalog__description{
  padding-top: 5px
}

.catalog__cart{
  padding:21px 0 27px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $light-gray;
}

.catalog__button{
  display: block;
  margin: 0 auto 45px;
}

.catalog__basket-icon{
  color: $gray;;

  &:hover{
   color:$tuny;
  }

  &:active,
  &:focus{
    opacity: 0.6;
    color:$tuny;
  }

}


@media(min-width:768px){

  .catalog__item {
    width: 666px;
    border: 1px solid $light-gray;
    margin: 0 auto 54px;
    display: flex;
    flex-wrap: wrap;
  }

  .catalog__picture{
    width: 334px;
    height: 332px;
  }

  .catalog__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 328px;
    padding-left: 28px;
    box-sizing: border-box;
  }

  .catalog__title {
    @include title-big;
    text-align: center;
  }

  .catalog__name{
    font-size: 20px;
  }

  .catalog__character{
   @include text;
  }

  .catalog__price {
    font-size: 17px;
    line-height: 24px;
  }

  .catalog__title--wrap{
    padding: 95px 42px 80px 42px;
    margin-top: -42px;
    background-image: url(../../img/bg-zigzag-fill.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 213px;
    margin-bottom: 79px;
  }

  .catalog__cart{
    margin-left: 5px;
    padding:23px 0 25px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $light-gray;
  }


}

@media(min-width:1150px){
  .catalog{
    width: 100%;
    margin-bottom: 104px;
  }
  .catalog__item{
    width:316px;
    margin: 0;
    box-sizing: border-box;
    display: block;
  }

  .catalog__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 33px 50px 50px;
    margin-bottom: 8px;
  }

  .catalog__title {
    @include title-bigest;

  }



  .catalog__img{
    width: 316px;
    height: 462px;
  }

  .catalog__video{
    margin:0 50px 105px 50px;
  }

  .catalog__title--wrap{
    padding: 92px 45px 119px;
    background-position: 0 236px;
  }



  .catalog__content{
    width: 316px;
    box-sizing: border-box;
    padding: 16px 26px 0px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 190px;
    flex-grow: 1;
  }
  .catalog__name{
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    width: 232px;
  }

  .catalog__character{
    margin: 0;
    padding: 0;

  }

  .catalog__cart{
    width: 256px;
    padding-top: 22px;
    border-top:1px solid $light-gray ;
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
}
