.color__legend {
  @include subtitle;
  margin-bottom: 43px;
}

.color__list {
  @include list;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
}

.color__item{
  margin-bottom: 25px;
}

@media(min-width:768px){
  .color__list{
    font-size: 19px;
    display: flex;
    flex-wrap: wrap;
    width: 500px;
  }

  .color__legend{
    width: 168px;
    display: block;
    padding: 0;
  }

  .color__item{
    width: 248px;
  }

  .form-main__color{
    background-color: $light-gray;
  }
}

@media(min-width:1250px){
  .color__list{
    font-size: 19px;
    display: flex;
    flex-wrap: wrap;
    width: 700px;
  }

  .color__item{
    width: 200px;
  }
}
