.email__legend {
  @include subtitle;
  margin-bottom: 5px;
  margin-left: -3px;
  position: relative;
}

.email__input{
  margin-bottom: 25px;
}

.email{
  margin: 0 calc(50% - 130px);
  margin-bottom: 6px;
}



.email__legend::after{
  content: '';
    width: 179px;
    height: 1px;
    background-color: $tuny;
    position: absolute;
    right: 0px;
    top: 9px;

}

.email__input{
  width: 100%;
  border: none;
  border-bottom: 2px solid black;
  padding: 19px 0 15px;
}

.email__input::-webkit-input-placeholder {color:rgba(68, 68, 68, 0.3);font-size: 18px;}
.email__input::-moz-placeholder          {color:rgba(68, 68, 68, 0.3);font-size: 18px;}/* Firefox 19+ */
.email__input:-moz-placeholder           {color:rgba(68, 68, 68, 0.3);font-size: 18px;}/* Firefox 18- */
.email__input:-ms-input-placeholder      {color:rgba(68, 68, 68, 0.3);font-size: 18px;}


@media(min-width:768px){
  .email__list{
    font-size: 19px;
  }

  .email__list{
    font-size: 19px;
  }

  .email__legend{
    width: 166px;
    padding: 0;
  }

  .email__legend::after{
    display: none;
  }

  .email{
    margin: 0;
    padding-left: 54px;
    padding-right: 0px;
    padding-top: 15px;
    padding-bottom: 25px;
  }

.email__input::-webkit-input-placeholder {padding-left: 17px;font-size: 18px;}
.email__input::-moz-placeholder          {padding-left: 17px;font-size: 18px;}/* Firefox 19+ */
.email__input:-moz-placeholder           {padding-left: 17px;font-size: 18px;}/* Firefox 18- */
.email__input:-ms-input-placeholder      {padding-left: 17px;font-size: 18px;}

.email__input{
  background-color: transparent;
  width: 501px;
  padding-top: 2px;
  padding-bottom: 17px;
}

}


@media(min-width:1150px){

  .email{
    padding-left: 116px;
  }

  .email__legend{
    width: 112px;
    padding: 0;
  }

  .email__input{
    width:700px;
  }
}
