.fio{
  margin: 0 calc(50% - 130px);
  margin-top: -2px;
  margin-bottom: 7px;
}


.fio__legend {
  @include subtitle;
  margin-bottom: 27px;
  margin-left: -3px;
  position: relative;
}

.fio__legend::after{
  content: '';
    width: 198px;
    height: 1px;
    background-color: $tuny;
    position: absolute;
    right: 0px;
    top: 9px;

}



.fio__list {
  @include list;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
}

.fio__item{
  margin-bottom: 23px;
}

.fio__input{
  width: 100%;
  border: none;
  border-bottom: 2px solid black;
  padding: 19px 0 15px;
}

.fio__input::-webkit-input-placeholder {color:rgba(68, 68, 68, 0.3);font-size: 18px;}
.fio__input::-moz-placeholder          {color:rgba(68, 68, 68, 0.3);font-size: 18px;}/* Firefox 19+ */
.fio__input:-moz-placeholder           {color:rgba(68, 68, 68, 0.3);font-size: 18px;}/* Firefox 18- */
.fio__input:-ms-input-placeholder      {color:rgba(68, 68, 68, 0.3);font-size: 18px;}

@media(min-width:768px){
  .fio__list{
    font-size: 19px;
  }

  .fio__legend{
    width: 168px;
    padding: 0;
  }

  .fio__legend::after{
    display: none;
  }

  .fio {
    margin: 0;
    padding-top: 66px;
    padding-left: 54px;
    padding-right: 0px;
  }

  .fio__input{
    flex-grow: 1;
    margin-left: 23px;
    padding: 2px;
    padding-bottom: 17px;
  }

  .fio__item{
    display: flex;
    width:499px;
    margin-bottom: 40px;
  }

.fio__input::-webkit-input-placeholder {padding-left: 17px;font-size: 20px;}
.fio__input::-moz-placeholder          {padding-left: 17px;font-size: 20px;}/* Firefox 19+ */
.fio__input:-moz-placeholder           {padding-left: 17px;font-size: 20px;}/* Firefox 18- */
.fio__input:-ms-input-placeholder      {padding-left: 17px;font-size: 20px;}


}


@media(min-width:1150px){

  .fio{
    padding-left: 116px;
  }

  .fio__legend{
    width: 112px;
    padding: 0;
  }

  .fio__item{
    width:700px;
  }
}
