.footer {
  background-color: #f1f1f1;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

.footer__logo {
  display: none;
}

.copyright {
  display: flex;
  border-top: 1px solid rgba(68, 68, 68, 0.3);
  padding-top: 27px;
  padding-left: 42px;
  padding-bottom: 13px;
}


.copyright__text {
  font-size: 19px;
  font-weight: 700;
  line-height: 18px;
  margin-right: 23px;
}

.copyright__logo {
  margin-top: -68px;
  color:$tuny;

  &:hover{
    opacity: 0.7;
  }

  &:active,
  &:focus{
    opacity: 0.4;
  }
}

@media(min-width:768px) {
  .footer__logo {
    display: block;

  }

  .copyright {
    border-top: none;
  }

  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 51px;
    padding-right: 44px;
    padding-bottom: 28px;
    padding-left: 50px;

  }

  .footer__social {
    margin-left: 87px;
    width: 152px;
  }

  .copyright__text {
    padding-right: 22px;
    display: block;
    margin: 0;
    margin-top: 8px;
  }

  .footer__copyright {
    margin-left: 0;
    padding-top: 4px;
  }

  .copyright__logo {
    margin-top: 0px;
    height: 41px;
  }

}

@media(min-width:1150px) {
  .footer__logo {
    width: 102px;
    height: 34px;
  }



  .footer__social {
    padding-top: 7px;
  }



  .footer__copyright {
    margin-left: 0;
    padding-top: 5px;
  }

  .copyright__logo {
    margin-top: -2px;
  }

  .footer {
    padding-bottom: 30px;
  }

}
