.kind__legend {
  @include subtitle;
  margin-bottom: 31px;
  margin-left: -2px;
  position: relative;
}

.kind{
  margin: 0 calc(50% - 130px);
margin-bottom: 17px;
}

.kind__list {
  @include list;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
}

.kind__item{
  margin-bottom: 25px;

}

.kind__input{
  @include hidden-input;
}

.kind__label{
  padding-left: 63px;
  width: 170px;
  display: block;
  position: relative;
  cursor: pointer;
}

.kind__radio{
  position: absolute;
  width: 34px;
  height: 34px;
  border: 2px solid black ;
  border-radius: 50%;
  top: -9px;
  left: 1px;
  cursor: pointer;
}

.kind__input:checked + .kind__radio::after {
  background-color: $tuny;
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  top: 9px;
  left: 9px;

}

.kind__legend::after{
  content: '';
    width: 198px;
    height: 1px;
    background-color: $tuny;
    position: absolute;
    right: 0px;
    top: 9px;

}


@media(min-width:768px){

  .kind{
    margin: 0;
    padding-top: 10px;
    padding-left: 54px;
  }

  .kind__list{
    font-size: 19px;
  }

  .kind__legend{
    width: 168px;
    padding: 0;
  }

  .kind__legend::after{
    display: none;
  }

  .kind__label{
    width: 300px;
    padding-left: 78px;
  }

  .kind__item{
    margin-bottom: 58px;
  }

  .kind__radio{
    width: 48px;
    height: 48px;
    top: -15px;
    left: -3px;
  }

  .kind__input:checked + .kind__radio::after {
    width: 20px;
    height: 20px;
    top: 14px;
    left: 14px;
  }

}

@media(min-width:1150px){

  .kind{
    padding-left: 116px;
  }

  .kind__legend{
    width: 114px;
    padding: 0;
  }
}
