.modal__title {
  @include title;
  line-height: 30px;
  text-transform: uppercase;
  width: 150px;
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
  text-align: center;
}

.modal {
  padding-top: 36px;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
  border: 1px solid #c6c6c6;
}

.modal__legend {
  @include text;
  text-align: center;
  margin-bottom: 28px;
}

.modal__fieldset {
  border: none;
  margin-bottom: 30px;
}

@media(min-width:768px) {
  .modal__legend {
    @include text-big;
  }

  .modal__title {
    @include title-big;
    font-size: 30px;
    line-height: 57px;
    margin-bottom: 25px;
    width: 100%;
  }

  .modal {
    padding-top: 51px;
    width: 556px;
    margin: 0 auto;

  }
}
