.modal__title {
  @include title;
  line-height: 30px;
  text-transform: uppercase;
  width: 150px;
  display: block;
  margin: 0 auto;
  margin-bottom: 18px;
  text-align: center;
}

.modal {
  display: none;
  padding-top: 31px;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
  border: 1px solid #c6c6c6;
}

.modal__legend {
  @include text;
  text-align: center;
  margin-bottom: 22px;
}

.modal__fieldset {
  border: none;
  margin-bottom: 21px;

}

.modal__form{
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(50% - 130px);
  justify-content: space-between;
}

.modal__input{
  @include hidden-input;
}

.modal__label{
  cursor: pointer;
  display: block;
  border: 2px solid $light-gray;
  box-sizing: border-box;
  padding-top: 14px;
  padding-right: 31px;
  padding-bottom: 12px;
  padding-left: 36px;
}

.modal__button{
  margin-bottom: 45px;
}

.modal--js-show {
  display: block;
}

@media(min-width:768px) {
  .modal__legend {
    @include text-big;
  }

  .modal__title {
    @include title-big;
    font-size: 30px;
    line-height: 57px;
    margin-bottom: 13px;
    width: 100%;
  }

  .modal {
    padding-top: 34px;
    width: 566px;
    margin: 0 auto;
  }

  .modal__legend{
    margin-bottom: 15px;
  }

  .modal__form{
    margin: 0 calc(50% - 176px);
  }

  .modal__label{
    padding-top: 13px;
    padding-right: 49px;
    padding-bottom: 13px;
    padding-left: 51px;
  }
}
