.video{
  border: 1px solid $light-gray;
  width: 260px;
  box-sizing: border-box;
  margin: 0 auto 58px;
  padding-top: 24px;
}

.video__title {
  margin: 0;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  width: 130px;
  padding-left: 89px;
  margin-bottom: 21px;
}



.video__text{
  @include text;
  font-size: 13px;
  line-height: 24px;
  width: 185px;
  margin-left: 34px;
  margin-bottom: 25px;
}

.video__content{
  margin-bottom: 24px;
}

@media(min-width:768px){
  .video{
  width: 668px;
  margin-bottom: 63px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0;
  }

  .video__text{
    @include text;
    line-height: 30px;
    width: 582px;
    order: 1;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
  }

  .video__title{
    font-size: 20px;

    width: 250px;
    order: 1;
    margin-bottom: 32px;
    padding-left: 105px;
  }



  .video__content{
    margin-bottom: 44px;
    order: 0;
  }

  .video__picture{
    margin-bottom: 33px;
  }
}

@media(min-width:1150px){
  .video{
    width: 1050px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0;
    height: 455px;
    }

    .video__content{
      width: 682px;
      height: 455px;
      margin: 0;
    }
    .video__text{
      width: 230px;
      order: 1;
      font-size: 15px;
      margin-bottom: 47px;
      margin-left: 0;
      box-sizing: content-box;
      padding-left: 21px;
    }

    .video__title{
      width: 230px;
      order: 1;
      padding-top: 94px;
      padding-left: 19px;
      margin-bottom: 33px;
    }

    .button--catalog{
      width: 230px;
      order: 1;
      margin: 0;
    }

    .catalog__button{
      margin-left: 22px;
    }
}
